<h2>Carret</h2>

<div *ngIf="items.length === 0">
  El carret està buit.
</div>

<div class="cart-list" *ngIf="items.length > 0">

  <div class="cart-item" *ngFor="let item of items">

    <img
      class="cart-image"
      [src]="'https://herbolari-susana.onrender.com/images/' + item.image"
      [alt]="item.name"
    >

    <div class="cart-info">
      <h3>{{ item.name }}</h3>

      <p>Preu unitari: {{ item.price }} €</p>

      <p>Quantitat: {{ item.quantity || 1 }}</p>

      <p>
        Subtotal:
        {{ item.price * (item.quantity || 1) }} €
      </p>

      <button (click)="removeItem(item.id)">
        Eliminar
      </button>
    </div>

  </div>

</div>

<h3 *ngIf="items.length > 0">
  Total: {{ getTotal() }} €
</h3>